<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Title Services-->
    <div class="row align-items-center justify-content-center">
        <h1 class="h1 mb-0 text-gray-800">Welcome to OMG Web application !</h1>
    </div>
</div>
